<li class='page-item<%= ' active' if page.current? %>'>
  <% rel = nil %>
  <% rel = 'next' if page.next? %>
  <% rel = 'prev' if page.prev? %>
  <%= link_to page, url, { remote: remote, class: 'page-link', rel: rel } %>
</li>
