<div class="row justify-content-between my-2">
  <div class="col-auto">
    <%= title %>
  </div>
  <% if @render_right_link %>
  <div class="col-auto align-self-center">
    <%= right_link %>
  </div>
    <% end %>
</div>