<a
  href="#"
  data-popover--initialize-target="popover"
  data-bs-toggle="popover"
  data-bs-title="<%= title %>"
  data-bs-trigger="focus"
  data-bs-content="<%= popover_content %>"
>
  <%= text %>
</a>
