<div data-controller="input--multivalued--input-list">
  <% @values.each do |v| %>
    <div data-controller="input--multivalued--input" data-input--multivalued--input-list-target="input">
      <div class="d-flex mb-1 align-items-center" data-input--multivalued--input-target="source">
        <div class="flex-grow-1"><%= input_for(v) %></div>
        <div class="ps-2">
          <button type="button" class="btn btn-danger btn-sm" data-input--multivalued--input-list-target="delete" data-action="input--multivalued--input#removeInput">-</button>
          <button type="button" class="btn btn-success btn-sm" data-action="input--multivalued--input#addInput">+</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
