<div class="card mb-3" id="<%= @id %>">
  <div class="card-header"><%= @label %></div>
  <ul class="list-group list-group-flush">
    <% Array.wrap(@value).each do |v| %>
      <li class="list-group-item"><%= v %></li>
    <% end %>
  </ul>
</div>
