<div data-controller="form--form">
  <div id="error-messages" data-form--form-target="errors"></div>

  <%= form_tag(@url, method: @method, data: { action: 'turbo:submit-end->form--form#formSubmission' }) do %>
    <% inputs.each do |input| %>
      <%= input %>
    <% end %>

    <%= submit %>
  <% end %>
</div>

