<%#
    Template for displaying error messages.

    This template requires a local `error` variable to be present. The following are all valid `error` values:
      - [:validation_error, object_responding_to_full_messages]
      - [:failure, exception_object]
      - :failed_to_load
      - 'Failed to Load'

    If an array is provided and the second value responds to `full_messages` it will iterate through the messages
    and display the output. ActiveRecord::Errors and Reform::Form::ActiveModel::Validations::Result::ResultErrors both
    respond to `full_messages`. If the second value does not respond to `full_messages` it will be ignored.
%>

<% errors = Array.wrap(error) %>
<% error_overview = errors[0] %>
<% exception_or_validation_errors = errors[1] %>

<div class="alert alert-danger" role="alert">
  <h4><%= error_overview.to_s.titleize %></h4>

  <% if exception_or_validation_errors.respond_to?(:full_messages) %>
    <ul>
      <% exception_or_validation_errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
</div>
