<%= render(Alert::Component.new(variant: :danger, **@options)) do %>
  <h4><%= error.to_s.titleize %></h4>

  <% if validation_errors.present? %>
    <ul>
      <% validation_errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
