<div class="row header-row justify-content-between align-items-center my-2">
  <div class="col">
    <%= title %>
  </div>
  <div class="col-auto">
    <% links.each do |link| %>
      <%= link %>
    <% end %>
  </div>
</div>
