---
apotheca_build_docker_image: false
apotheca_image_name: "apotheca"
apotheca_image_registry: "gitlab.library.upenn.edu/dld/digital-repository/apotheca"
apotheca_image_tag: "main-development"
apotheca_port: 3000
apotheca_rails_env: "development"
apotheca_replicas: 1
apotheca_url: "apotheca-dev.library.upenn.edu"
apotheca_solr_url: "http://apotheca-dev.library.upenn.int/solr/apotheca-dev"
apotheca_solr_test_url: "http://apotheca-dev.library.upenn.int/solr/apotheca-test"
apotheca_versioned_secrets:
  alma_api_key:
    value: "{{ apotheca_vault_values.secret.alma_api_key }}"
    version: "{{ apotheca_vault_values.metadata.version }}"
  ezid_user:
    value: "{{ apotheca_vault_values.secret.ezid_user }}"
    version: "{{ apotheca_vault_values.metadata.version }}"
  ezid_password:
    value: "{{ apotheca_vault_values.secret.ezid_password }}"
    version: "{{ apotheca_vault_values.metadata.version }}"
  rails_master_key:
    value: "{{ apotheca_vault_values.secret.rails_master_key }}"
    version: "{{ apotheca_vault_values.metadata.version }}"
  solr_username:
    value: "{{ apotheca_vault_values.secret.solr_username }}"
    version: "{{ apotheca_vault_values.metadata.version }}"
  solr_password:
    value: "{{ apotheca_vault_values.secret.solr_password }}"
    version: "{{ apotheca_vault_values.metadata.version }}"
  sidekiq_pro_credentials:
    value: "{{ dld_sidekiq_pro_vault_values.secret.credentials }}"
    version: "{{ dld_sidekiq_pro_vault_values.metadata.version }}"