<div class="modal fade" id="raw-xml-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Raw XML</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pre><%= @asset.technical_metadata.raw %></pre>
      </div>
    </div>
  </div>
</div>

<%= button_tag 'Raw XML', type: 'button', data: { 'bs-toggle': 'modal', 'bs-target': '#raw-xml-modal' } %>
