#
# Settings/Configuration for development environment.
#

# Internal Services
solr:
  user: <%= DockerSecrets.lookup(:solr_username) %>
  password: <%= DockerSecrets.lookup(:solr_password) %>
  url: <%= ENV.fetch('SOLR_URL', 'http://solr:8983') %>
fits:
  url: <%= ENV.fetch('FITS_URL', 'http://fits') %>
redis:
  url: <%= ENV.fetch('REDIS_URL', 'localhost:6379') %>
  username: <%= ENV.fetch('REDIS_SIDEKIQ_USER', 'sidekiq') %>
  password: <%= DockerSecrets.lookup(:redis_sidekiq_password) %>
chrome:
  url: <%= ENV.fetch('CHROME_URL', 'http://chrome:3000') %>

# External Services
ezid:
  default_shoulder: 'ark:/99999/fk4'
  user: <%= DockerSecrets.lookup(:ezid_user, 'apitest') %>
  password: <%= DockerSecrets.lookup(:ezid_password, 'apitest') %>
marmite:
  url: http://mdproc.library.upenn.edu:9292
image_server:
  url: http://10.211.55.2:8182

# File Storage
minio: &minio
  access_key_id: minioadmin
  secret_access_key: minioadmin
  endpoint: <%= ENV.fetch('MINIO_URL', 'http://minio:9000') %>
  region: us-east-1
  force_path_style: true
preservation_storage:
  <<: *minio
  bucket: preservation-dev
preservation_copy_storage:
  <<: *minio
  bucket: preservation-copy-dev
derivative_storage:
  <<: *minio
  bucket: derivatives-dev
iiif_derivative_storage:
  <<: *minio
  bucket: iiif-derivatives-dev
iiif_manifest_storage:
  <<: *minio
  bucket: iiif-manifests-dev

# Bulk Import
working_storage:
  sceti_digitized:
    <<: *minio
    bucket: sceti-digitized

# Item/Asset Resource Configuration
publish:
  skip: true
  digital_collections:
    host: https://digitalcollections-dev.library.upenn.edu
    token: sample_token
    webhook_path: listen
    item_path: items
