#
# Settings/Configuration for development environment.
#

# Internal Services
solr:
  user: <%= DockerSecrets.lookup(:solr_username) %>
  password: <%= DockerSecrets.lookup(:solr_password) %>
  url: <%= ENV.fetch('SOLR_URL', 'http://solr:8983') %>
fits:
  url: <%= ENV.fetch('FITS_URL', 'http://fits') %>
redis:
  url: <%= ENV.fetch('REDIS_URL', 'localhost:6379') %>
  username: <%= ENV.fetch('REDIS_SIDEKIQ_USER', 'sidekiq') %>
  password: <%= DockerSecrets.lookup(:redis_sidekiq_password) %>
chrome:
  url: <%= ENV.fetch('CHROME_URL', 'ws://chrome:3333') %>

# External Services
ezid:
  default_shoulder: 'ark:/99999/fk4'
  user: <%= DockerSecrets.lookup(:ezid_user, 'apitest') %>
  password: <%= DockerSecrets.lookup(:ezid_password, 'apitest') %>
marmite:
  url: http://mdproc.library.upenn.edu:9292
image_server:
  url: http://10.211.55.2:8182

# File Storage
minio: &minio
  access_key_id: minioadmin
  secret_access_key: minioadmin
  endpoint: <%= ENV.fetch('MINIO_URL', 'http://minio:9000') %>
  region: us-east-1
  force_path_style: true
preservation_storage:
  <<: *minio
  bucket: preservation-dev
preservation_copy_storage:
  <<: *minio
  bucket: preservation-copy-dev
derivative_storage:
  <<: *minio
  bucket: derivatives-dev
iiif_derivative_storage:
  <<: *minio
  bucket: iiif-derivatives-dev
iiif_manifest_storage:
  <<: *minio
  bucket: iiif-manifests-dev

# Bulk Import
working_storage:
  sceti_digitized:
    <<: *minio
    bucket: sceti-digitized

# Item/Asset Resource Configuration
publish:
  skip: true
  colenda:
    base_url: https://colenda.library.upenn.edu
    token: sample_token
    item_path: items
    asset_path: assets
    public_item_path: catalog
    pdf_path: pdf
    original_path: original
    manifest_path: manifest

# API
api:
  host:
    production: apotheca.library.upenn.edu
    staging: apotheca-staging.library.upenn.edu
  resource:
    items:
      path: /v1/items
  sample_records:
    - 4aec6af0-c57e-4f0d-b1f4-7945f4bf7212
    - 362ba96f-2fab-4a35-bd42-98f6667da1d0
    - e90ec77f-008c-43e9-b720-d73db60fe3a3
    - 375a37c2-0cc4-4512-86f0-9113d9c80ca8
    - faa4493e-ec40-4520-9c13-41a1527609b6
