#
# Settings/Configuration for test environment.
#

# Internal Services
solr:
  user: <%= DockerSecrets.lookup(:solr_username) %>
  password: <%= DockerSecrets.lookup(:solr_password) %>
  url: <%= ENV.fetch('SOLR_URL', 'http://solr:8983') %>
fits:
  url: <%= ENV.fetch('FITS_URL', 'http://fits') %>
redis:
  url: <%= ENV.fetch('REDIS_URL', 'localhost:6379') %>
  username: <%= ENV.fetch('REDIS_SIDEKIQ_USER', 'sidekiq') %>
  password: <%= DockerSecrets.lookup(:redis_sidekiq_password) %>

# External Services
alma:
  api_key: <%= DockerSecrets.lookup(:alma_api_key) %>
  host:  api-na.hosted.exlibrisgroup.com
  bibs:
    path: /almaws/v1/bibs
ezid:
  default_shoulder: 'ark:/81431/p3'
  user: <%= DockerSecrets.lookup(:ezid_user, 'apitest') %>
  password: <%= DockerSecrets.lookup(:ezid_password, 'apitest') %>
honeybadger:
  api_key: <%= DockerSecrets.lookup(:honeybadger_api_key) %>
image_server:
  url: https://iiif-images.library.upenn.edu

# File Storage
aws: &aws
  access_key_id: <%= DockerSecrets.lookup(:aws_access_key_id) %>
  secret_access_key: <%= DockerSecrets.lookup(:aws_secret_access_key) %>
  region: <%= DockerSecrets.lookup(:aws_region, 'us-east-1') %>
wasabi: &wasabi
  access_key_id: <%= DockerSecrets.lookup(:wasabi_access_key_id) %>
  secret_access_key: <%= DockerSecrets.lookup(:wasabi_secret_access_key) %>
  endpoint: https://s3.us-west-1.wasabisys.com
  region: us-west-1
  force_path_style: true
  upload_options:
    checksum_algorithm: CRC32
preservation_storage:
  <<: *aws
  bucket: upennlib-apotheca-preservation-prod
preservation_copy_storage:
  <<: *wasabi
  bucket: apotheca-preservation-copy-prod
derivative_storage:
  <<: *aws
  bucket: upennlib-apotheca-derivatives-prod
iiif_derivative_storage:
  <<: *aws
  bucket: upennlib-apotheca-iiif-derivatives-prod
iiif_manifest_storage:
  <<: *aws
  bucket: upennlib-apotheca-iiif-manifests-prod

# Bulk Import
working_storage:
  sceti-short-term:
    <<: *aws
    bucket: upennlib-sceti-short-term
  sceti-patron-requests:
    <<: *aws
    bucket: upennlib-sceti-patron-request

# Item/Asset Resource Configuration
publish:
  colenda:
    base_url: https://colenda.library.upenn.edu
    token: <%= DockerSecrets.lookup(:colenda_publish_token, 'sample_token') %>
    item_path: items
    asset_path: assets
    public_item_path: catalog
    pdf_path: pdf
    original_path: original
    manifest_path: manifest
