#
# Settings/Configuration for test environment.
#

# Internal Services
solr:
  user: <%= DockerSecrets.lookup(:solr_username, 'admin') %>
  password: <%= DockerSecrets.lookup(:solr_password, 'Bitnami') %>
  url: <%= ENV['SOLR_TEST_URL'] %>
fits:
  url: <%= ENV['FITS_URL'] %>
redis:
  url: <%= ENV.fetch('REDIS_URL', 'localhost:6379') %>
  username: <%= ENV.fetch('REDIS_SIDEKIQ_USER', 'sidekiq') %>
  password: <%= DockerSecrets.lookup(:redis_sidekiq_password) %>
chrome:
  url: <%= ENV.fetch('CHROME_URL', 'ws://chrome:3333') %>

# External Services
alma:
  api_key: password
  host:  api-na.hosted.exlibrisgroup.com
  bibs:
    path: /almaws/v1/bibs
ezid:
  default_shoulder: 'ark:/99999/fk4'
  user: <%= DockerSecrets.lookup(:ezid_user, 'apitest') %>
  password: <%= DockerSecrets.lookup(:ezid_password, 'apitest') %>
marmite:
  url: http://mdproc.library.upenn.edu:9292
image_server:
  url: http://localhost:8182

# File Storage
minio: &minio
  access_key_id: minioadmin
  secret_access_key: minioadmin
  endpoint: <%= ENV['MINIO_URL'] %>
  region: us-east-1
  force_path_style: true
preservation_storage:
  <<: *minio
  bucket: preservation-test
preservation_copy_storage:
  <<: *minio
  bucket: preservation-copy-test
derivative_storage:
  <<: *minio
  bucket: derivatives-test
iiif_derivative_storage:
  <<: *minio
  bucket: iiif-derivatives-test
iiif_manifest_storage:
  <<: *minio
  bucket: iiif-manifest-test

# Bulk Import
working_storage:
  sceti_digitized:
    <<: *minio
    bucket: sceti-digitized-test

# Item/Asset Resource Configuration
publish:
  colenda:
    base_url: https://colenda.library.upenn.edu
    token: sample_token
    item_path: items
    asset_path: assets
    public_item_path: catalog
    pdf_path: pdf
    original_path: original
    manifest_path: manifest
