<h3 id="actions" class="mb-3">Actions</h3>

<div class="d-flex justify-content-around my-3">
  <% if can? :update, @asset  %>
    <%= render Form::Component.new(name: 'regenerate_derivatives', url: "/", method: :patch) do |component| %>
      <% component.with_error(@error) %>
      <% component.with_submit('Regenerate Derivatives', confirm: 'Do you really want to regenerate derivatives for this asset?', class: %w[btn btn-primary]) %>
    <% end %>
  <% end %>

  <% if can? :delete, @asset  %>
    <%= render Form::Component.new(name: 'delete_asset', url: asset_path(@asset), method: :delete) do |component| %>
      <% component.with_error(@error) %>
      <% component.with_submit('Delete Asset', confirm: 'Do you really want to delete this asset?', class: %w[btn btn-danger]) %>
    <% end %>
  <% end %>
</div>