<h3>Administrative Information</h3>

<%= render(Form::Component.new(uri: item_path(@item, anchor: 'administrative-info'), name: 'administrative-info', model: @change_set)) do |form| %>
  <% form.with_error(@error) if @errors_for == 'administrative-info' %>

  <% form.with_field(:human_readable_name, size: :sm, type: :text) %>
  <% form.with_field(:internal_notes, size: :sm, type: :text) %>

  <% form.with_submit('Save') %>
<% end %>
