<h3>Administrative Information</h3>

<%= form_tag item_path(@item), method: :patch do %>
  <%= render(FormField::Component.new(
    type: :text,
    label: 'Internal Notes',
    value: @item.internal_notes,
    field: "item[internal_notes][]")) %>

  <input class="btn btn-primary" name="save" type="submit" value="Save">
<% end %>
