<h3>Administrative Information</h3>

<%= render(Form::Component.new(url: item_path(@item, anchor: 'administrative-info'), method: :patch, name: 'administrative-info')) do |form| %>
  <% form.with_error(@error) if @errors_for == 'administrative-info' %>
  <% form.with_input_text(label: 'Human Readable Name',
                          value: @change_set.human_readable_name,
                          field: "item[human_readable_name]") %>
  <% form.with_input_text(label: 'Internal Notes',
                          value: @change_set.internal_notes,
                          field: "item[internal_notes][]") %>
  <% form.with_submit('Save') %>
<% end %>
