<h4>Assets (unarranged)</h4>
<% if @assets&.any? %>
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">Original Filename</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
    </tr>
    </thead>
    <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <th scope="row"><%= asset.original_filename %></th>
        <td><%= asset.created_at %></td>
        <td><%= asset.updated_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No assets</p>
<% end %>
