<h3>Descriptive Metadata</h3>

<%= link_to 'Edit Descriptive Metadata', edit_item_path(@item, anchor: 'descriptive'), class: 'btn btn-primary mb-3' %>

<%= render(StaticFieldsComponent.new) do |component| %>
  <% ItemResource::DescriptiveMetadata::FIELDS.each do |field| %>
    <% component.field(
         label: field.to_s.titlecase,
         values: @item.descriptive_metadata.send(field)
       ) %>
  <% end %>
<% end %>
