<h3>Descriptive Metadata</h3>

<%= render(Form::Component.new(url: item_path(@item), model: @change_set, name: 'descriptive-metadata', size: :sm)) do |form| %>
  <% form.with_error(@error) if @errors_for == 'descriptive-metadata' %>

  <% ItemResource::DescriptiveMetadata::Fields::CONFIG.each do |field, type| %>
    <% if type == :name %>
      <% form.with_field(:descriptive_metadata, field,
                         type: :descriptive_metadata,
                         config: { type: :term, subfields: { role: { type: :term }} }) %>

    <% else %>
      <% form.with_field(:descriptive_metadata, field, type: :descriptive_metadata, config: { type: type }) %>
    <% end %>
  <% end %>

  <% form.with_submit('Save') %>
<% end %>