<h3>Descriptive Metadata</h3>

<%= render(Form::Component.new(url: item_path(@item), model: @change_set, name: 'descriptive-metadata')) do |form| %>
  <% form.with_error(@error) if @errors_for == 'descriptive-metadata' %>

  <% ItemResource::DescriptiveMetadata::FIELDS.each do |field| %>
    <% form.with_field(:descriptive_metadata, field, size: :sm, type: :text) %>
  <% end %>

  <% form.with_submit('Save') %>
<% end %>