<h3>Structural Metadata</h3>

<%= render(Form::Component.new(url: item_path(@item, anchor: 'structural-metadata'), method: :patch, name: 'structural-metadata')) do |form| %>
  <% form.error(@error, show: @errors_for == 'structural-metadata') %>
  <% form.input_select(label: 'Viewing Hint',
                        value: @item.structural_metadata.viewing_hint,
                        field: "item[structural_metadata][viewing_hint]",
                        options: ItemChangeSet::StructuralMetadataChangeSet::VIEWING_HINTS) %>
  <%= form.input_select(label: 'Viewing Direction',
                        value: @item.structural_metadata.viewing_direction,
                        field: "item[structural_metadata][viewing_direction]",
                        options: ItemChangeSet::StructuralMetadataChangeSet::VIEWING_DIRECTIONS) %>

  <% form.submit('Save') %>
<% end %>