<h3>Structural Metadata</h3>

<%= render(Form::Component.new(url: item_path(@item, anchor: 'structural-metadata'),
                               method: :patch,
                               name: 'structural-metadata',
                               model: @change_set)) do |form| %>
  <% form.with_error(@error) if @errors_for == 'structural-metadata' %>

  <% form.with_field(:structural_metadata, :viewing_hint) do |field| %>
    <% field.with_label('Viewing Hint') %>
    <% field.with_input(type: :select,
                        choices: ItemChangeSet::StructuralMetadataChangeSet::VIEWING_HINTS,
                        include_blank: true) %>
  <% end %>

  <% form.with_field(:structural_metadata, :viewing_direction) do |field| %>
    <% field.with_label('Viewing Direction') %>
    <% field.with_input(type: :select,
                        choices: ItemChangeSet::StructuralMetadataChangeSet::VIEWING_DIRECTIONS,
                        include_blank: true) %>
  <% end %>

  <% form.with_submit('Save') %>
<% end %>