<%= render(BreadcrumbsComponent.new) do |component| %>
  <% component.breadcrumb(href: "/") do %>Home<% end %>
  <% component.breadcrumb(active: true) do %>Items<% end %>
<% end %>

<ul>
  <% @items.each do |item| %>
  <li><%= link_to pp(item), item_path(item.id) %></li>
  <% end %>
</ul>
