<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Items</li>
  </ol>
</nav>

<ul>
  <% @items.each do |item| %>
  <li><%= link_to pp(item), item_path(item.id) %></li>
  <% end %>
</ul>
