<h2>Descriptive Metadata</h2>
<p><%= @item.descriptive_metadata.as_json %></p>

<h2>Structural Metadata</h2>
<p><%= @item.structural_metadata.as_json %></p>

<h2>Assets (unarranged)</h2>
<% if @assets.any? %>
<ul>
  <% @assets.each do |asset| %>
  <li><%= asset.as_json %></li>
  <% end %>
</ul>
<% else %>
<p>No assets</p>
<% end %>
