# Ignore ansible galaxy collections
collections

roles/apotheca/files/src/*
roles/api/files/src/*
roles/atosatto.docker-swarm
roles/hostsfile
roles/solr
roles/traefik
roles/zookeeper
roles/zoonavigator
