<% if @header %>
<h3 id="actions" class="mb-3">Actions</h3>
<% end %>

<% if actions %>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Action</th>
      <th class="ps-4">Description</th>
    </tr>
    </thead>
    <tbody>
    <% actions.each do |action| %>
    <%= action %>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>