<h3>Descriptive Metadata</h3>

<%= render(Form::Component.new(url: item_path(@item, anchor: 'descriptive-metadata'), model: @change_set,
                               name: 'descriptive-metadata', size: :sm)) do |form| %>
  <% form.with_error(@error) if @errors_for == 'descriptive-metadata' %>

  <% ItemResource::DescriptiveMetadata::Fields::CONFIG.each do |field, type| %>
    <% config = type == :name ? { type: :term, subfields: { role: { type: :term }} } : { type: type } %>

    <% form.with_field(:descriptive_metadata, field, type: :descriptive_metadata, config: config ) %>
  <% end %>

  <% form.with_submit('Save') %>
<% end %>